{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<title>Starter Template - Materialize</title>

		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	<body>
		<nav class="light-blue lighten-1" role="navigation">
			<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Clarity</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="#">FAQ</a></li>
				</ul>

				<ul id="nav-mobile" class="side-nav">
					<li><a href="#">FAQ</a></li>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
		</nav>
		<div class="section no-pad-bot" id="index-banner">
			<div class="container">
				<br><br>
				<h1 class="header center orange-text">Clarity</h1>
				<div class="row center">
					<h5 class="header col s12 light"> What do you need to know?<h5>
				</div>
				<div class="row center">
					<div class="input-field col s6 offset-s3">
						<input id="search_bar" type="text" class="validate">
						<label for="search_bar">Search</label>
						<button class="btn waves-effect waves-light" type="submit" name="action">Search
							<i class="material-icons right">send</i>
						</button>

					</div>
				</div>
				<br><br>

			</div>
		</div>


		<div class="container">
			<div class="section">

				<!--   Icon Section   -->
				<div class="row">
					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
							<h5 class="center">Speeds up studies</h5>

							<p class="light">We automatically filter results for you so that you dont have to look through hundreds of sites for what you need. </p>
						</div>
					</div>

					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
							<h5 class="center">User Experience Focused</h5>

							<p class="light">We made the website as user friendly as possible so that you don't have to waste your time going through a manual.</p>
						</div>
					</div>

					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
							<h5 class="center">Easy to work with</h5>

							<p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Clarity.</p>
						</div>
					</div>
				</div>

			</div>
			<br><br>

			<div class="section">

			</div>
		</div>

		<footer class="page-footer orange">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Team Bio</h5>
						<p class="grey-text text-lighten-4">We are a team of school students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


					</div>
					<div class="col l3 s12">
						<h5 class="white-text">Settings</h5>
						<ul>
							<li><a class="white-text" href="#!">Link 1</a></li>
							<li><a class="white-text" href="#!">Link 2</a></li>
							<li><a class="white-text" href="#!">Link 3</a></li>
							<li><a class="white-text" href="#!">Link 4</a></li>
						</ul>
					</div>
					<div class="col l3 s12">
						<h5 class="white-text">Connect</h5>
						<ul>
							<li><a class="white-text" href="#!">Link 1</a></li>
							<li><a class="white-text" href="#!">Link 2</a></li>
							<li><a class="white-text" href="#!">Link 3</a></li>
							<li><a class="white-text" href="#!">Link 4</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
				</div>
			</div>
		</footer>


		<!--  Scripts-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/init.js"></script>

	</body>
</html>
